@page "/AddTimeline"
@using Class

<h1>Ajouter une nouvelle frise</h1>
<div>
    <label>
        Nom de la frise
        <input type="text" @bind=name required >
    </label>
    <label>
        Description
        <input type="text" @bind=description required >
    </label>
    <button @onclick=onValiderAjoutTagClicked>Valider</button>
</div>

@code
{
    string? name = null;
    string? description = null;
    [Inject]
    NavigationManager? NavigationManager {get; set;}

    private void onValiderAjoutTagClicked()
    {
        Tag.AddTag(name, description, "");
        NavigationManager?.NavigateTo($"/AddEvent/{name}");
    }
}