h1
{
    font-size: 40px;
}

.header
{
    display: flex;
    flex-direction: column;
}
.menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-bottom: 20px;
}

.clickable-picture
{
    border: none; 
    padding: 0;   
    background: none; 
    cursor: pointer;
}

.clickable-picture > i
{
    font-size: 40px;
    color: black;
}

.profile-picture
{
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
}