h1
{
    font-size: 40px;
}

.header
{
    display: flex;
    flex-direction: column;
}
.menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-bottom: 20px;
}

.clickable-picture
{
    border: none; 
    padding: 0;   
    background: none; 
    cursor: pointer;
}

.clickable-picture > i
{
    font-size: 40px;
    color: black;
}

.profile-picture
{
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.horizontal-center {
    display: flex;
    justify-content: center; 
}

.timeline-cards-section {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
    padding: 20px; 
}

.timeline-card {
    background-color: white; 
    border: 1px solid #ccc;
    border-radius: 8px; 
    padding: 20px; 
    width: 200px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.5s;
}

.timeline-card:hover
{
    scale:calc(0.95);
}

.section-title
{
    color: darkblue;
}